

body{
      background-color:Cornsilk;
      padding: 0;
      margin: 0;
      font-family: Helvetica, sans-serif;
}
.logo {
  /* ------ Max width to keep logo image from being larger than intended ------ */
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
      max-width: 300px;
      padding-bottom: 8px;
}
nav{
    background: rgb(0, 179, 179);
    /* height: 60px; */
    text-align: center;
    font-family: "American Typewriter", "Times New Roman", serif;
}

nav a{
      text-align: center;
      color: white;
      font-size: 1.3em;
      padding: 15px;
      margin: 10px;
      display: inline-block;
      text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}




/* Styles for hero or feature */
.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url(img/purple_hero.jpg);
    height: 400px;
    background-size:cover;
    background-position: center;
    /* Styles for text and button */
    position: relative;
}



.flexItem{
        flex-basis: 300px;
        flex-grow: 1;
        /* margin: 2px 40px; */
        margin: 1% 10px;
        background: rgba(255, 255, 255, 0.3);
        padding: 30px;
}

.hero h2{
    font-family: "American Typewriter", "Times New Roman", serif;
    color: Cornsilk;
    font-size: 1.5em;
    justify-content: center;
    position: absolute;
    bottom: 78%;
    right: 10%;
}
/* img{ */
    /* display: inline; */
    /* width: 20%; */
    /* background-color: Cornsilk; */


h3{
    font-family: "Baskerville", "Times New Roman", serif;
    color: rgb(0, 179, 179);
    padding: 5px;
    text-decoration: none ;
    font-size: 1.5em;
}

h4{
    font-family: Helvetica, sans-serif;
    text-decoration-style: bold;
}

p{
    font-family:Helvetica, sans-serif;
}

ul {
  border: solid 4px #e569a0;
  border-width: 30%;
  border-radius: 20px;
  padding-bottom: 5%;
  /* padding: 5px 10px; */
  padding-left: 10%;
  background-color: inherit;
}
/* button{
    position: absolute;
    bottom:5%;
    right:5%;
    background: none;
    padding: 8px;
    border: 2px black solid;
    color: black;
    font-size: 1.3em;
    border-radius: 5px;
} */
/* STYLES FOR ABOUT HERO */
.about-hero{
    background-image: url("img/hair_2.jpg");
    /* ADD IMAGE NAME ABOVE */
    height: 600px;
    background-size:cover;
    background-position: right;
    /* Styles for text and button */
    position: relative;
}

.about-hero h2{
    font-family: Georgia, "Times New Roman", serif;
    color: white;
    font-size: .9em;
    position: absolute;
    top: 5%;
    left: 2%;
}
/* END STYLES FOR ABOUT HERO */
main{
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
}

footer{
    background-color: rgba(0, 179, 179, 0.6);
    padding:20px;
}

footer a{
    color: white;
}

footer p{
    margin: 40px;
    color: white;
    font-family: "Baskerville", "Times New Roman", serif;
    font-size: 0.9em;
    text-align: center;
}



/* start sprinkles---------------------------------- */
.wrapper {
  background: url(img/Sprinkles_Logo_big.png) no-repeat Cornsilk;
  background-size: 300px;
  background-position: center;
  height: 600px;
  position: relative;
}
.sprinkle {
  position: absolute;
  border-radius: 100vh;
  z-index: 100;
  animation: bounce-in-sprinkles 0.5s forwards;
  box-shadow: 1.5vh 1.5vh 0 rgba(0, 0, 0, 0.25);
}
/* .sprinkle:hover {
   background:purple;
} */

button {
  /* border-radius: 120px; */
  margin: 1rem auto;
  padding-bottom: 8px;
  border: 0;
  font-size: 1.2rem;
  background: transparent;
  letter-spacing: 0.025em;
  position: absolute;
  top: 80%;
  right: 2%;
}
button img{
  width: 150px;

}

button:active {
  transform: translateY(3px);
}

.one {
  transform: rotate(60deg);
  background-color: #e569a0;
  top: 30%;
  left: 90%;
  animation-delay: 1s;
}

.two {
  transform: rotate(-60deg);
  background-color: #e569a0;
  top: 63%;
  left: 67%;
  animation-delay: 1.5s;
}

.three {
  transform: rotate(10deg);
  background-color: #e569a0;
  top: 20%;
  left: 54%;
  animation-delay: 1.25s;
}

.four {
  transform: rotate(-30deg);
  background-color: #e569a0;
  top: 60%;
  left: 87%;
  animation-delay: 1s;
}

.five {
  transform: rotate(67deg);
  background-color: #e569a0;
  top: 88%;
  left: 8%;
  animation-delay: 1.5s;
}

.six {
  transform: rotate(90deg);
  background-color: #e569a0;
  top: 67%;
  left: 30%;
  animation-delay: 1.5s;
}

.seven {
  transform: rotate(-45deg);
  background-color: #e569a0;
  top: 30%;
  left: 73%;
  animation-delay: 1.25s;
}

.eight {
  transform: rotate(20deg);
  background-color: rgb(0, 179, 179);
  top: 80%;
  left: 50%;
  animation-delay: 1s;
}
.nine {
  transform: rotate(90deg);
  background-color: #e569a0;
  top: 85%;
  left: 25%;
  animation-delay: 1.5s;
}

.ten {
  transform: rotate(-10deg);
  background-color: #e569a0;
  top: 12.5%;
  left: 25%;
  animation-delay: 1s;
}

.eleven {
  transform: rotate(50deg);
  background-color: #e569a0;
  top: 30%;
  left: 50px;
  animation-delay: 1.25s;
}

.twelve {
  transform: rotate(-20deg);
  background-color: rgb(0, 179, 179);
  top: 50%;
  left: 4%;
  animation-delay: 1s;
}

.thirteen {
  transform: rotate(-120deg);
  background-color: #e569a0;
  top: 32%;
  left: 200px;
  animation-delay: 1.25s;
}

.fourteen {
  transform: rotate(-45deg);
  background-color: #e569a0;
  top: 58%;
  left: 15%;
  animation-delay: 1s;
}

.fifteen {
  transform: rotate(65deg);
  background-color: rgb(0, 179, 179);
  top: 10%;
  left:90%;
  animation-delay: 1.5s;
}

.sixteen {
  transform: rotate(-75deg);
  background-color: #e569a0;
  top: 5%;
  left: 75%;
  animation-delay: 1.25s;
}

.seventeen {
  transform: rotate(25deg);
  background-color: rgb(0, 179, 179);
  top: 15%;
  left: 45%;
  animation-delay: 1s;
}

.eighteen {
  transform: rotate(145deg);
  background-color: rgb(0, 179, 179);
  top: 10%;
  left: 10%;
  animation-delay: 1.5s;
}

.nineteen {
  transform: rotate(25deg);
  background-color: rgb(0, 179, 179);
  top: 75%;
  left: 15%;
  animation-delay: 1.25s;
}
@keyframes bounce-in-sprinkles {
  0% {
    opacity: 0;
    height: 0;
    width: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    height: 7.66667vh;
    width: 2.875vh;
  }
  100% {
    height: 6.66667vh;
    width: 2.5vh;
  }
}
/* end sprinkles---------------------------------- */
/* medium screen size below */
@media screen and (min-width: 700px) {
      .logo{
         width: 350px;
      }

      .truck{
          display: inline;
          width: 30%;
          position: relative;
          padding-left: 35%;
      }

      .flexItem{
              /* flex-basis: 300px; */
              /* flex-grow: 1; */
              margin: 20px;
              /* background: rgba(255, 255, 255, 0.3); */
              /* padding: 30px; */
      }
      /* .flexItem:first-child{ */
        /* margin-right: 0; */


}

/* large screen styles below */
@media screen and (min-width: 1300px) {

  }
